@import "bootstrap/scss/functions";
@import 'bootstrap-icons/font/bootstrap-icons.css';

$primary: #344268;
$primary-highlight: #564dd2;

$secondary: #8ca0e8;
$secondary-highlight: #bccbff;

$body-bg: #1b1d36;
$body-color: #99a0ff;

$bg-light: #6476e8;

$footer-color: #787cb8;

@mixin inner-shadow($hoff: 0px, $voff: 0px, $blur: 5px, $spread: 0px, $color: rgba(0, 0, 0, 0.5)) {
  box-shadow: inset $hoff $voff $blur $spread $color;
}

@import "bootstrap/scss/bootstrap";