@import "bootstrap/scss/functions";

$primary: #344268;
$primary-highlight: #564dd2;

$secondary: #8ca0e8;
$secondary-highlight: #bccbff;

$body-bg: #1b1d36;
$body-color: #99a0ff;

$bg-light: #6476e8;

@import "bootstrap/scss/bootstrap";