@import "bootstrap/scss/functions";

$primary: #344268;
$primary-highlight: #407cc5;

$secondary: #8ca0e8;
$secondary-highlight: #bccbff;

$body-bg: #1b1d36;
$body-color: #939393;

@import "bootstrap/scss/bootstrap";