@use '../../styles/base.scss' as *;

.articleScreen{
    background-color: $body-bg;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 4fr;
    }

    .menu-area {
        display: none;
        z-index: 1;

        &.open {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 80%;
        }

        @media (min-width: 768px) {
            display: block;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
    }

    .header-area {
        width: 100%;
        padding: 1rem;
        margin: 0;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        .menu-button{
            z-index: 2;
            flex-shrink: 0;
            margin-left: 0.5rem;
            width: 75px;
            height: 75px;
            background-color: $primary-highlight;
            border-radius: 20%;

            display: flex;
            justify-content: center;
            align-items: center;

            .bi{
                font-size: 3rem;
                margin-top: -5px;
                object-fit: cover;
            }

            @media(min-width: 768px){
                display: none;
            }
        }
    }


    .content-area {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 1rem;

        @media (min-width: 768px) {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    }

    .footer {
        grid-column: 1 / -1;
        @media (min-width: 768px) {
            grid-row: 3 / 4;
        }
    }
}